.flx{
    display: flex;
}
.jc-ai-center{
    justify-content: center;
    align-items: center;
}
.flx_row{
    flex-direction: column;
}
.hw{
    height: 100%;
    width: 100%;
}
.fontHdr1{
    font-weight: 700;
    font-size: 200%;
    text-align: center;
}